/* Sidebar.css */
.sidebar-link {
  color: #fff !important;
}

.sidebar-link:hover {
  color: #fff !important;
}

.sidebar-link.text-danger {
  color: #dc3545 !important; /* rojo de Bootstrap */
}

.sidebar-link.text-danger:hover {
  color: #dc3545 !important;
}